.footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  height: auto;
}

.logo {
  height: 3em;
  margin: 5px;
}

.sitemap {
  display: flex;
  justify-content: center;
}

.sitemapSection h4 {
  margin-bottom: 10px;
}

.sitemapSection ul {
  list-style: none;
  display: flex;
}

.sitemapSection ul li {
  padding: 0 10px;
}

.sitemapSection ul li a {
  text-decoration: none;
}

.sitemapSection ul li a {
  text-decoration: none;
}

.outserver::after {
  content: '';
  position: relative;
  display: inline-block;
  background-image: url(../public/outserver.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 5px;
}