@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-subtitle {
  font-size: 24px;
  font-weight: bold;
}
.title-comment {
  line-height: 1.7;
  font-size: 16px;
}

header > ul > li > a {
  font-size: 24px;
}
.UsersVoiceTitle {
  font-size: 36px;
  font-weight: bold;
  min-height: 33%;
}
.UsersVoiceMain {
  font-size: 24px;
  font-weight: bold;
  min-height: 33%;
}

/* tailwind.css or your custom stylesheet */
.click-here:hover {
  text-shadow: 0 0 10px #fff, 0 0 15px #fff;
}
