@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

main {
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -20rem;
  color: #333;
}

.content {
  display: flex;
  width: 60vw;
  margin-bottom: 20px;
}

.position-bar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px;
  background-color: #9DDAB9;
  color: #FFF;
}

.cardtitle {
  border-radius: 10px;
  background: #9DDAB9;
  width: 20%;
}

.cardtitle-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #FFF;
}

.carddetail {
  background: #CEF9DC;
  width: 80%;
}

.carddetail-content {
  font-size: 0.8rem;
  padding: 1.0rem;
}

.subtitle-user-comment h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #808080;
}

.content-user-comment {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-bottom: 20px;
  color: #808080;
}

.carddetail-user-comment {
  font-size: 0.8rem;
  padding: 1.0rem;
}

.carddetail-user-comment-name {
  margin-top: auto;
  margin-bottom: 0px;
}
